<nav class="navbar navbar-expand-md navbar-custom">
    <a href="#" class="navbar-brand mx-4">
        <img src="../../assets/images/logo.png" height="48" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link mx-2 active navbar-text">Tasks</a>
            <a href="#" class="nav-item nav-link mx-3 navbar-text">Completed</a>
            <a href="#" class="nav-item nav-link mx-3 navbar-text">Misssed</a>
            <a href="#" class="nav-item nav-link mx-3 navbar-text">Create</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a href="#" class="nav-item nav-link navbar-text">Logout</a>
        </div>
    </div>
</nav>
